body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fdfff5;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px;
    position: sticky;
    top: 0;
    background: #101314;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);   /* transparan */
    backdrop-filter: blur(12px);           /* efek blur */
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #101314;
    font-weight: 600;
}

/* Home */
.home-bg {
    width: 100%;
    min-height: 100vh;
    background-image: url('../hq.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 40px;
    padding-top: 80px;
    color: #fdfff5;
    text-shadow: 2px 2px 5px black;
}

/* Our Profile */
.profile-section {
    padding: 100px 40px;
    background-color: #101314;   /* warna background, bisa diganti */
    min-height: 100vh;           /* full 1 layar */
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: flex-start; /* posisi konten */
    color: #fdfff5;
    text-shadow: 2px 2px 5px black;
}
.profile-about {
    padding-top: 100px;
}

/* Message Us */
.message-section {
    padding: 100px 40px;
    background-color: #e4e4e4;   /* warna background, bisa diganti */
    min-height: 100vh;           /* full 1 layar */
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: flex-start; /* posisi konten */
    color: #101314;
    text-shadow: 2px 2px 5px black;
}

/* Form */
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-box {
    width: 40%;
    border: 1px solid #ccc;
    padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .form-container {
        flex-direction: column;
    }
    form, .result-box {
        width: 100%;
    }
}