body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #fdfff5;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px;
    position: sticky;
    top: 0;
    background: #101314;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(12px);
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #101314;
    font-weight: 600;
}

/* Home */
.home-bg {
    width: 100%;
    min-height: 100vh;
    background-image: url('../hq.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 40px;
    padding-top: 80px;
    color: #fdfff5;
    text-shadow: 2px 2px 5px black;
}

/* Our Profile */
.profile-section {
    padding: 100px 40px;
    background-color: #101314;
    min-height: 100vh;
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-content: flex-start;
    color: #fdfff5;
    text-shadow: 2px 2px 5px black;
}
.profile-about {
    padding-top: 80px;
}

/* Message Us */
.message-section {
    padding: 80px 40px;
    background: #fdfff5;
    min-height: 10vh;
}

/* Title */
.message-section h2 {
    font-size: 2.3rem;
    margin-bottom: 30px;
    text-align: left;
    margin-left: 90px;
}

/* Layout kiri-kanan */
.form-container {
    display: flex;
    gap: 35px;
    max-width: 1100px;
    margin: auto;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Form styling */
#contactForm {
    flex: 1;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 18px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.input-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-weight: 600;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.input-group textarea {
    height: 120px;
    resize: none;
}

/* Tombol */
.btn-submit {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4C5BFF;
    color: #fdfff5;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #2333ff;
}

/* RESULT BOX */
.result-box {
    flex: 1;
    background: #fdfff5;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    min-height: 520px;
}

.result-box h3 {
    margin-bottom: 15px;
}

/* Form */
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-box {
    width: 40%;
    border: 1px solid #ccc;
    padding: 10px;
}

.footer {
    text-align: right;
    padding: 10px;
    margin-right: 40px;
    font-family: monospace;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .form-container {
        flex-direction: column;
    }
    form, .result-box {
        width: 100%;
    }
}