body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fdfff5;
}
/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    background: #f7f5ff;
    z-index: 10;
}
nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #101314;
    font-weight: 600;
}

/* Section */
.section {
    padding: 60px 40px;
}

.home .banner,
.profile-banner {
    margin: 40px 0;
    padding: 80px;
    border: 1px dashed gray;
    text-align: center;
}

.cicle {
    width: 100px;
    height: 100px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: auto;
}

.hq-container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* Form */
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-box {
    width: 40%;
    border: 1px solid #ccc;
    padding: 20px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    .hq-container {
        flex-direction: column;
        align-items: center;
    }
    .form-container {
        flex-direction: column;
    }
    form, .result-box {
        width: 100%;
    }
}